/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	* {
		font: normal 15px/22px MontserratMedium, 'Sans-serif';
	}

	.title {
		font: Bold 36px/42px MontserratBold, 'Sans-serif' !important;
	}

	.sub-title {
		font: normal 30px/38px MontserratRegularmin-, 'Sans-serif' !important;
	}

	.offcanvas img,
	.navbar-brand img {
		max-height: 65px;
	}

	#bannerArea {
		.item {
			height: 440px;
		}
	}

	#highlightArea {
		.listGroup {
			ul {
				columns: 1;

				li {
					margin-bottom: 16px !important;
					line-height: 1.5 !important;

					&:last-child {
						margin-bottom: 6 !important;
					}
				}
			}
		}
	}

	#amenitiesArea {
		.boxData {
			ul {
				columns: 1;
			}
		}
	}

	#calltoactionArea {
		.container {
			min-height: 600px;
		}
	}

	footer {
		.contactBox {
			span {
				min-width: 50px;
				min-height: 50px;
				place-items: center;

				i {
					font-size: 20px !important;
				}
			}
		}
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	* {
		font: normal 16px/24px MontserratMedium, 'Sans-serif';
	}

	.title {
		font: Bold 42px/48px MontserratBold, 'Sans-serif' !important;
	}

	.sub-title {
		font: normal 36px/42px MontserratRegular, 'Sans-serif' !important;
	}

	#bannerArea {
		.item {
			height: 520px;
		}
	}

	#highlightArea {
		.listGroup {
			margin-bottom: 0;

			ul {
				margin-bottom: 0;
				columns: 2;

				li {
					margin-bottom: 16px !important;
					line-height: 24px !important;

					&:is(:nth-child(6), :nth-child(12)) {
						margin-bottom: 6px;
					}
				}
			}
		}
	}

	#amenitiesArea {
		.boxData {
			ul {
				columns: 2;
			}
		}
	}

	#calltoactionArea {
		.container {
			min-height: 600px;
		}
	}

	footer {
		span br {
			display: none !important;
		}

		.contactBox {
			span {
				min-width: 45px;
				min-height: 45px;
				place-items: center;

				i {
					font-size: 20px !important;
				}
			}
		}
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	/* ... */
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	#bannerArea {
		.item {
			height: 520px;
		}

		.text {
			max-width: 500px;
		}
	}

	#highlightArea {
		.listGroup {
			ul {
				columns: 3;
				gap: 16px;

				li {
					padding: 15px !important;
					line-height: 24px !important;
				}
			}
		}
	}

	#amenitiesArea {
		.boxData {
			ul {
				columns: 3;
			}
		}
	}

	footer {
		span br {
			display: block !important;
		}

		.footerMenu.menu2 {
			a {
				font-size: 12px !important;
			}
		}

		.contactBox {
			span {
				min-width: 75px;
				min-height: 75px;
				place-items: center;

				i {
					font-size: 25px !important;
				}
			}
		}
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	#bannerArea {
		.item {
			height: calc(100dvh - 155px);
		}

		.text {
			max-width: 650px;
		}
	}

	#calltoactionArea {
		.container {
			min-height: calc(100dvh - 155px) !important;
		}
	}
}

/* Extra large devices (large desktops, 1400px and up) */
@media only screen and (min-width: 1400px) {}