@font-face {
	font-family: MontserratRegular;
	src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face {
	font-family: MontserratMedium;
	src: url(../fonts/Montserrat-Medium.ttf);
}

@font-face {
	font-family: MontserratBold;
	src: url(../fonts/Montserrat-Bold.ttf);
}

@font-face {
	font-family: MontserratExtraBold;
	src: url(../fonts/Montserrat-ExtraBold.ttf);
}

@font-face {
	font-family: MontserratBlack;
	src: url(../fonts/Montserrat-Black.ttf);
}


* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background: transparent;
	border: none;
	font-family: "Roboto", sans-serif;
	font-size: 16px !important;
	color: #333 !important;
	text-decoration: none !important;
	list-style: none;
	outline: none;
	font: normal 17px/25px MontserratMedium, 'Sans-serif';
	/* border: 1px saddlebrown solid !important; */
}

#mainContainer {
	max-width: 1920px;
	margin: 0 auto;
	padding: 0;
	scroll-snap-type: y mandatory;
	scroll-padding-top: 20px;
}

section {
	scroll-snap-align: start;
	scroll-padding-top: 250px;
	scroll-margin-top: 156.5px;
}

input,
textarea,
select {
	width: 100%;
}

.btn.btn-primary {
	background: rgb(25, 0, 60) !important;
	background: linear-gradient(45deg, rgba(25, 0, 60, 1) 0%, rgba(5, 81, 133, 1) 100%) !important;
	border-color: transparent !important;
	color: #fff !important;
	position: relative;
	overflow: hidden;
	padding: 10px 20px !important;
	min-width: 160px;

	span {
		position: relative;
		z-index: 2 !important;
		color: #fff !important;
	}

	&::after {
		content: '';
		position: absolute;
		inset: 0;
		width: 0;
		height: 110%;
		background-color: transparent;
		z-index: 1;
		transition: all 450ms ease-in-out;
	}

	&:hover {
		border-color: transparent !important;

		&::after {
			width: 100%;
			background-color: #111;
		}
	}

	&:focus {
		background-color: red !important;
		border-color: transparent !important;
		outline: none !important;
		box-shadow: none !important;
	}
}

.title {
	color: #0f2962 !important;
	font: Bold 56px/64px MontserratBold, 'Sans-serif' !important;
}

.sub-title {
	color: #48aa48 !important;
	font: normal 40px/56px MontserratMedium, 'Sans-serif' !important;
}

header {
	.navbar-brand img {
		max-width: 100px;
	}

	li a {
		color: #666 !important;
		--bs-border-color: #666 !important;
		transition: 300ms ease-in;

		&.active {
			color: #0f2962 !important;
			font-weight: bold;
		}

		&:hover:not(.active) {
			color: #0c336a !important;
		}
	}

	.topbar {
		a {
			color: #666 !important;
			transition: 300ms ease-in;

			i {
				color: #666 !important;
				transition: 300ms ease-in;
			}

			&:hover {
				color: #0c336a !important;

				i {
					color: #0c336a !important;
				}
			}

		}
	}
}

#bannerArea {
	.item {
		background: transparent url("../images/sliderImg_1.jpg") no-repeat center center / cover;

		.container.position-relative {
			height: 55% !important;
		}
	}

	.text {
		width: 100%;
		max-width: 420px;
		background-color: rgba(255, 255, 255, .5);
	}
}

#aboutArea {
	img {
		min-height: 320px;
		border-radius: 10px;
	}

	ul {
		margin-bottom: 0;
		padding: 10px 0 !important;

		li {
			padding: 0 0 16px 0 !important;
			line-height: 16px !important;
			display: flex;
			align-items: center;
			gap: 10px;

			&::before {
				content: "\f058";
				font-family: "Font Awesome 5 Free";
				font-weight: 900;
				font-size: 20px;
				color: #48aa48 !important;
			}
		}
	}
}

#highlightArea {
	background: rgb(230, 230, 230, .25) url('../images/backImage.png') no-repeat top center / cover;

	.listGroup {
		margin-bottom: 0 !important;

		ul {
			padding: 0 !important;
			margin: 0 !important;
			columns: 3;
			gap: 16px;

			li {
				padding: 15px !important;
				min-height: 75px !important;
				margin-bottom: 16px;
				padding: 10px 20px !important;
				break-inside: avoid;
				position: relative;
				background-color: rgba(255, 255, 255, 1);
				transition: all 300ms ease-in-out;


				span {
					position: relative;
					z-index: 1 !important;
				}

				&::before {
					content: "";
					position: absolute;
					inset: 0 auto auto 0;
					width: 5px;
					height: 100%;
					background-color: #003366;
					/* background: linear-gradient(90deg, rgba(25, 0, 60, 1) 0%, rgba(5, 81, 133, 1) 100%); */
					transition: all 300ms ease-in-out;

				}

				&:is(li:nth-child(4), li:nth-child(8), li:nth-child(12)) {
					margin-bottom: 0;
				}
			}

			li:hover {
				box-shadow: 0 15px 20px -5px rgba(0, 0, 0, 0.25);

				span {
					color: #fff !important;
				}

				&::before {
					width: 100%;
				}
			}
		}
	}
}

#amenitiesArea {
	.boxData {
		columns: 3;

		li {
			min-height: 70px;
			break-inside: avoid-column;
			margin-bottom: 16px;
			display: flex;
			align-items: center;
			gap: 12px;
			padding: 16px;
			line-height: 18px;
			box-shadow: 0 10px 10px 0 rgba(180, 170, 150, .2);
			transition: all 200ms ease-in;

			.boxCircle {
				display: block;
				transition: all 200ms ease-in;

				i {
					font-size: 16px !important;
					color: #48aa48 !important;
				}

				&::after {
					content: '';
					position: absolute;
					inset: 50% auto auto 50%;
					transform: translate(-50%, -50%);
					width: 40px;
					height: 40px;
					border-radius: 50%;
					z-index: -1;
					background-color: transparent;
					transition: 300ms ease-in;
				}
			}

			&:hover {
				gap: 20px;
				box-shadow: 0 10px 10px -3px rgba(180, 170, 150, .35);

				.boxCircle {
					i {
						color: #fff !important;
						font-size: 18px !important;
					}

					&::after {
						background-color: #48aa48;
					}
				}
			}
		}
	}
}

#priceArea {
	/* background: transparent url('https://placehold.co/1920x420') no-repeat center center / cover; */
	background-color: #11225a;

	&::after {
		content: '';
		inset: 0;
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: #11225a;
		/* background-color: rgb(0, 51, 102, 1); */
		z-index: 1;
	}

	.priceCard {
		overflow: hidden;
		transition: all 300ms ease;

		h2 {
			color: #0f2962 !important;
		}

		.button-hover {
			position: absolute;
			inset: auto 0 0 auto;
			border: 1px solid #0c336a;
			background-color: #0c336a;
			width: 50px;
			height: 50px;
			border-top-left-radius: 75%;
			transition: 500ms;
			display: none;

			span {
				display: grid;
				place-items: center;
				width: 100%;
				height: 100%;
				margin: auto -5px -5px auto;

				i {
					font-size: 20px !important;
				}
			}
		}

		&:hover {
			transform: translateY(-5px);

			.button-hover {
				display: block;
			}
		}
	}
}

#calltoactionArea {
	background: transparent url('../images/collectionImage.jpg') no-repeat center center / cover;

	&::after {
		content: '';
		position: absolute;
		inset: 0;
		background: linear-gradient(90deg, rgba(0, 51, 102, .95) 0%, rgba(0, 51, 102, .5) 75%);
	}

	.container {
		z-index: 2;
		min-height: 600px;

		.textBox {
			max-width: 650px;
		}
	}
}

#galleryArea {
	img {
		border-radius: 5px;
		height: 300px;
		object-fit: cover;
	}
}

#contactArea {
	iframe {
		width: 100%;
		min-height: 450px;
		border-radius: 10px;
	}
}

footer {
	background-color: #003366;

	.contactBox {
		.innerBox {
			background-color: #11225a !important;
		}

		span {
			width: 85px;
			height: 85px;
			place-items: center;

			&.d-block {
				background-color: #fff !important;
			}

			a {
				color: #ddd !important;

				&:hover {
					color: #fff !important;
				}
			}

			i {
				font-size: 30px !important;
				color: #003366 !important;
			}
		}
	}

	.footerMenu {
		a {
			color: #ddd !important;
			transition: 300ms ease-in;

			&:hover:not(.active) {
				color: #f0f0f0 !important;
			}

			&.active {
				color: #fff !important;
				font-weight: bold !important;
			}
		}
	}

	.footerBox {

		p,
		a {
			font-size: 14px !important;
			margin-bottom: 0;
		}
	}

	.copy p {
		font-size: 14px !important;
	}

	.social {
		a {
			width: 45px;
			height: 45px;
			border: 2px solid #ddd;
			place-items: center;
			display: grid;
			border-radius: 50%;
			transition: all 350ms ease;

			i {
				font-size: 25px;
				color: #ddd !important;
			}

			&:hover {
				scale: 1.15;
				background-color: #ddd;

				i {
					color: #0c336a !important;
				}
			}
		}
	}
}

.offcanvas-body {
	.btn-close:focus {
		box-shadow: none !important;
	}

	img {
		max-width: 100px;
	}

	li a {
		padding: 8px 16px;
		margin-bottom: 10px;
		border-left: 2px solid transparent;
		transition: 300ms ease-in;
		color: #666 !important;

		&:hover:not(.active) {
			padding: 8px 20px;
			border-left: 2px solid #ddd;
			color: #0f2962 !important;
		}

		&.active {
			padding: 8px 20px;
			border-left: 2px solid #ddd;
			color: #0c336a !important;
		}
	}
}

.modal {
	.modal-body {
		.border {
			border-color: #003366 !important;
		}

		.form-check-input {
			&:focus {
				box-shadow: none !important;
				border-color: #003366 !important;
			}

			&:hover {
				border-color: #003366 !important;
			}

			&:checked {
				border-color: #003366 !important;
				background-color: #003366 !important;
			}
		}
	}
}

/* .container {border: 1px solid red;} */
/* * {border: 1px solid red;} */
/* .container { border: 1px solid red;} */